/*Seletores*/

header {
    position: sticky;
    top: 0;
    z-index: 10;
    /* Garante que o header fique acima de outros elementos */
}

/*
footer {
    background-color: #191818;
    height: 100px;
    margin: 20px 0px 0px 0px;
    text-align: center;
    clear: both;
}


/*IDS*/

#navbar {
    background-color: #191818;
}

#logo {
    margin: 0px 0px 0px 130px;
}

#menu {
    color: aliceblue;
    font-size: larger;
}

#menu-texto {
    padding: 0px 300px 0px 0px;
}

#clientes {
    color: #191818;

}

#titulo {
    color: #f1b71a;
    /*font-size: 100px;*/
    padding: 100px 0px 0px 0px;
    font-weight: bold;

}

#descricao {
    color: aliceblue;
}

#orcamento {
    margin: 0px 0px 50px 0px;
}

#about {
    padding: 50px 0px 0px 0px;
    color: #f1b71a;
    font-weight: bold;
    text-align: center;
}

#about2 {
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}

#texto-descricao {
    color: aliceblue;
}

#borda {
    border-radius: 10px;
}

#proposta {
    color: aliceblue;
}

#oferta {
    text-align: left;
    color: #f1b71a;
}

#servicos {
    color: aliceblue;
}

#rodape {
    background-color: #191818;
    height: 100px;
    margin: 50px 0px 0px 0px;
}

#redes {
    text-align: center;
}

#links a {
    text-decoration: none;
}