/*Seletores*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    /* Garante que o header fique acima de outros elementos */
}


footer {
    background-color: #191818;
}


/*IDS*/

#navbar {
    background-color: #191818;
}

#logo {
    margin: 0px 0px 0px 130px;
}

#menu {
    color: aliceblue;
    font-size: larger;
}

#menu-texto {
    padding: 0px 300px 0px 0px;
}

#clientes {
    color: #191818;

}

#titulo {
    color: #f1b71a;
    /*font-size: 100px;*/
    padding: 100px 0px 0px 0px;
    font-weight: bold;

}

#descricao {
    color: aliceblue;
}

#orcamento {
    margin: 0px 0px 50px 0px;
}

#about {
    padding: 50px 0px 0px 0px;
    color: #f1b71a;
    font-weight: bold;
    text-align: center;
}

#about2 {
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}

#texto-descricao {
    color: aliceblue;
}

#borda {
    border-radius: 10px;
}

#proposta {
    color: aliceblue;
}

#oferta {
    text-align: left;
    color: #f1b71a;
}

#servicos {
    color: aliceblue;
}

/*class*/
.msg-titulo {
    animation: deslizar 1s ease-out forwards;
}

@keyframes deslizar {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.msg {
    animation: fadeIN linear 3s;
}

.botao {
    animation: fadeIN linear 10s;
}

@keyframes fadeIN {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.body {
    background-color: #0A0B0B;

}

.footer-container {
    width: 100%;
    padding: 10px 30px 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

.social-icons a:hover {
    background-color: #58440c;
    border-radius: 50%;
    -webkit-transition: 0.5s;
}

.creditos {
    text-align: center;
    color: #58440c;
}

/*Clientes*/
.foto {
    border-radius: 10px;
    width: 160px;
}

.titulo-name {
    color: #f1b71a;
}

.titulo-projeto {
    color: #f1b71a;
    text-align: center;
}